
<div class="footer">
    <div class="container">
        <div class="row">
          <div class="col-xl-4">
            <H1>ΚΛΕΙΣΕ ΘΕΣΗ</H1>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
          </div>
          <div class="col-xl-4">
            <H1>ΚΑΤΑΧΩΡΗΣΕ ΤΗΝ ΕΠΙΧΕΙΡΗΣΗ ΣΟΥ</H1>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
          </div>
          <div class="col-xl-4">
            <H1>ΟΡΟΙ ΧΡΗΣΗΣ</H1>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
            <p>jnkjndkjnkjdn</p>
            <p>kmklmlkmklmkm</p>
          </div>
         
      </div>
    </div>
    
    
      
    