.footer{
    width: 100%;
    border: solid;
    
    background-color: black;
    position: relative !important;
}

p, h1{
    color: white;
    text-align: center;
}

.col-xl-4{
    border: solid;
   
}

.row{
    border: solid;

}

.container{
  
    
    width: 100 !important;
}

button{
    transition-duration: 0.4s;
   
}

button:hover {
  background-color: grey; /* Green */
  color: white;
}

.city{
    background-color: black;
    text-decoration: none;
    color: white;
  
}

a{
    background-color: black;
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: gray;
}

.foot{
    text-align: center;
}