.container{
    text-align: center;
    
}

.row{
    text-align: center;
    border: solid;
    background-color:beige;
    color: black
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}