<div class ="container register">
    <form [formGroup]="resgisterForm">
        <h2>Συμπλήρωσε την Παρακάτω Φόρμα</h2>
        <div class="form-group">
            <label for="name">Όνομα</label>
            <input formControlName="name" type="text" class="form-control" id="name" placeholder="Όνομα">
          </div>
        <br>
        <div class="form-group">
            <label for="last">Επώνυμο</label>
            <input formControlName="last" type="text" class="form-control" id="last" placeholder="Επώνυμο">
          </div>
        <br>
        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
          </div>
        <br>
        <div class="form-group">
          <label for="username">Username</label>
          <input formControlName="username" type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      <br>
        <button type="submit" class="btn btn-primary" (click)="register()">Σύνδεση</button>
      </form>
      
</div>
<br>
