 <div class = "hero">
    <img src="../../assets/hero_image/driving-welcome.jpg">
      <div class="textof">
        <p>ΚΛΕΙΣΕ ΤΗ ΘΕΣΗ ΣΟΥ ΕΥΚΟΛΑ, ΓΡΗΓΟΡΑ, ΑΠΛΑ!</p>
      </div>
      <div class="row">
        
          <div class="col-sm-4">
           <h1>Αναζητάς την Περιοχή</h1>
          </div>
          <div class="col-sm-4">  <h1>Κλείνεις τη Θέση σου</h1></div>
          <div class="col-sm-4"><h1>Πληρώνεις με Ασφάλεια</h1></div>
        
      </div>
  </div>
  
  <div class="choice">

    <div class="container">
      <h1>ΕΠΙΛΕΞΕ ΕΝΑΝ ΤΡΟΠΟ ΑΝΑΖΗΤΗΣΗΣ</h1>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2>Γρήγορη Αναζήτηση</h2>
           <h5>Πληκτρολόγησε την περιοχή που θέλεις να πας</h5>
           <div class="col-sm">
            <app-autocomplete></app-autocomplete>
           </div>
           
          </div>
          <div class="col-sm">
            <h2>Επίλεξε από τη Διαθέσιμη Λίστα</h2>
            <br>
            <div class="col-sm">
              <a  routerLink="/booking">Δες Εδώ</a>
            </div>
            
          </div>
        </div>
      </div>
      
  </div>

</div>
<br>
 
  
  
<!-- 
<div class="container">
    <h1>ΔΗΜΟΦΙΛΕΣΤΕΡΕΣ ΠΟΛΕΙΣ</h1>
   </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <a routerLink="#"><h3>Αθήνα</h3></a>
        </div>
        <div class="container city">
          <img src="../../assets/famous_cities/athens.jpg" class="img-fluid" alt="Image 1">
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <a routerLink="#"><h3>Θεσσαλονίκη</h3></a>
        </div>
        <div class="container city">
          <img src="../../assets/famous_cities/thessaloniki.jpg" class="img-fluid" alt="Image 1">
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <a routerLink="#"><h3>Πάτρα</h3></a>
        </div>
        <div class="container">
          <img src="../../assets/famous_cities/patra.jpg" class="img-fluid" alt="Image 1">
        </div>
      </div>
  </div>
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <a routerLink="#"><h3>Ιωάννινα</h3></a>
        </div>
        <div class="container">
          <img src="../../assets/famous_cities/ioannina.jpg" class="img-fluid" alt="Image 1">
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <a routerLink="#"><h3>Χανιά</h3></a>
        </div>
        <div class="container">
          <img src="../../assets/famous_cities/xania.jpg" class="img-fluid" alt="Image 1">
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <a routerLink="#"><h3>Καλαμάτα</h3></a>
        </div>
        <div class="container">
          <img src="../../assets/famous_cities/kalamata.jpg" class="img-fluid" alt="Image 1">
        </div>
      </div>
  </div>
  
  <br>
  <br>

  <div *ngFor="let city of popularcityList">
    <p>{{city.namecity}}</p>
  </div>
-->
  
  
  



  
  
  
  