.container{
    text-align: center;
    border: groove;
    border-radius: 30px;
    
}

.row{
    text-align: center;
   

}

.col-sm{
    text-align: center;
    border: groove;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
}

.btn{
    font-size: 18px;
}

