.container{
    text-align: center;
    
}

.row{
    text-align: center;
    border: solid;
    background-color:beige;
    color: black
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.users{
  font-size: 20px;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: black; /* Ή ό,τι άλλο χρώμα θες */
  cursor: pointer;
  transition: all 0.3s ease; /* για ωραία ομαλή μετάβαση */
  font-style: italic;
  font-size: 18px;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: black; /* αν θες να παραμένει ίδιο χρώμα στο hover */
}